<h2>Java</h2>
<div class ='container' align='center'>

    <div class="row">
      <div ngColor *ngFor='let course of courses' class="col-sm">
        <a [routerLink]='[course.courseid]' routerLinkActive="active"><img [src]='course.courseImg' height='60px' width='60px'></a>


    </div>


</div>
<router-outlet></router-outlet>
</div>
<!-- <div class ="container">
<table border="1px"class="table table-hover">

    <tr>
        <td colspan="1">Search:<input type="text" [(ngModel)]="filter"  ></td>
        <td><select class="form-select" [(ngModel)]="funnel" >
          <option [value]="'a-z'">A-Z</option>
          <option [value]="'z-a'">Z-A</option>
          <option [value]="'low'">Low-High</option>
          <option [value]="'high'">High-Low</option>
        </select></td>
    </tr>

    <tr><th>CourseID</th>
        <th>CourseName</th>
        <th>Courseprice</th>
        <th>Coursedesc</th>
         <th>CourseImg>

    </tr>
    <tr ngColor *ngFor="let course of  courses|search:filter|spipe:funnel">
    <td>{{course.courseid}}</td>
    <td>{{course.coursename| titlecase}}</td>
    <td>{{course.courseprice | currency:'USD'}}</td>
    <td>{{course.coursedesc}}</td>
    <td><img [src]='course.courseImg' height='60px' width='60px'></td>

</tr>
</table>
</div> -->

